In [1]:
import numpy as np
import pandas as pd
#https://www.kaggle.com/datasets/rikdifos/credit-card-approval-prediction
#https://www.kaggle.com/datasets/alexisbcook/synthetic-credit-card-approval
import os
import kagglehub
import warnings

import os
warnings.filterwarnings("ignore")

df = pd.read_csv("./dataset/credit-card-approval/credit_card_approval.csv")
df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
0,5065438,F,Y,N,2+ children,270000.0,Secondary / secondary special,Married,With parents,-13258,-2300,1,0,0,0,Managers,-6,C,0
1,5142753,F,N,N,No children,81000.0,Secondary / secondary special,Single / not married,House / apartment,-17876,-377,1,1,1,0,Private service staff,-4,0,0
2,5111146,M,Y,Y,No children,270000.0,Higher education,Married,House / apartment,-19579,-1028,1,0,1,0,Laborers,0,C,0
3,5010310,F,Y,Y,1 children,112500.0,Secondary / secondary special,Married,House / apartment,-15109,-1956,1,0,0,0,Core staff,-3,0,0
4,5010835,M,Y,Y,2+ children,139500.0,Secondary / secondary special,Married,House / apartment,-17281,-5578,1,1,0,0,Drivers,-29,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537662,5142999,M,Y,N,1 children,166500.0,Secondary / secondary special,Married,With parents,-12372,-5401,1,0,1,0,Core staff,-8,0,0
537663,5010773,F,N,Y,No children,135000.0,Higher education,Married,With parents,-14160,-4635,1,0,0,0,Sales staff,-8,0,0
537664,5105601,M,N,Y,No children,180000.0,Higher education,Married,House / apartment,-24204,-2462,1,0,0,0,Private service staff,-7,0,0
537665,5132833,M,Y,N,No children,220500.0,Secondary / secondary special,Married,House / apartment,-22647,-3847,1,0,1,0,Laborers,-1,0,0
537666,5135381,F,N,Y,No children,387000.0,Secondary / secondary special,Married,House / apartment,-20082,-4979,1,0,0,0,Sales staff,-45,C,0

In [2]:
df.rename(columns={'TARGET': 'Approved'}, inplace=True)
# Display the first few rows to confirm the change
df.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,Approved
0,5065438,F,Y,N,2+ children,270000.0,Secondary / secondary special,Married,With parents,-13258,-2300,1,0,0,0,Managers,-6,C,0
1,5142753,F,N,N,No children,81000.0,Secondary / secondary special,Single / not married,House / apartment,-17876,-377,1,1,1,0,Private service staff,-4,0,0
2,5111146,M,Y,Y,No children,270000.0,Higher education,Married,House / apartment,-19579,-1028,1,0,1,0,Laborers,0,C,0
3,5010310,F,Y,Y,1 children,112500.0,Secondary / secondary special,Married,House / apartment,-15109,-1956,1,0,0,0,Core staff,-3,0,0
4,5010835,M,Y,Y,2+ children,139500.0,Secondary / secondary special,Married,House / apartment,-17281,-5578,1,1,0,0,Drivers,-29,0,0

In [3]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency
import colorama
from colorama import Fore

# Automatically identify categorical columns from the dataframe based on data types
categorical_cols = df.select_dtypes(include=['object', 'category']).columns.tolist()

# Identify potential categorical columns stored as numbers by checking unique values
for col in df.columns:
    if col != 'Approved':  # Skip 'Approved' column
        if df[col].nunique() < 10 and col not in categorical_cols:  # Arbitrary threshold of < 10 unique values
            categorical_cols.append(col)

# Display identified categorical columns
print(f"Identified Categorical Columns (excluding 'Approved'): {categorical_cols}\n")

Identified Categorical Columns (excluding 'Approved'): ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'JOB', 'STATUS', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'FLAG_EMAIL']

In [4]:
# Initialize a list to store bad predictors
bad_predictors = []

# You can change the threshold for what is considered a "bad predictor"
p_value_threshold = 0.05  # Adjust this if needed

# Evaluate each categorical column using chi-squared test
for col in categorical_cols:
    print(f"{col}:")
    
    # Perform chi-squared test
    a = np.array(pd.crosstab(df['Approved'], df[col]))
    stats, p, dof, _ = chi2_contingency(a, correction=False)
    
    if p > p_value_threshold:
        print(Fore.RED + f"'{col}' is a 'bad Predictor'")
        print(f"p_val = {p}\n")
        bad_predictors.append(col)  # Append the bad predictor to the list
    else:
        print(Fore.GREEN + f"'{col}' is a 'Good Predictor'")
        print(f"p_val = {p}\n")

CODE_GENDER:
'CODE_GENDER' is a 'Good Predictor'
p_val = 1.3251901990018294e-34

FLAG_OWN_CAR:
'FLAG_OWN_CAR' is a 'Good Predictor'
p_val = 0.024096469399418216

FLAG_OWN_REALTY:
'FLAG_OWN_REALTY' is a 'Good Predictor'
p_val = 8.382674884394374e-05

CNT_CHILDREN:
'CNT_CHILDREN' is a 'Good Predictor'
p_val = 2.911490124240846e-11

NAME_EDUCATION_TYPE:
'NAME_EDUCATION_TYPE' is a 'Good Predictor'
p_val = 5.161166610168622e-19

NAME_FAMILY_STATUS:
'NAME_FAMILY_STATUS' is a 'Good Predictor'
p_val = 1.0607740863942537e-37

NAME_HOUSING_TYPE:
'NAME_HOUSING_TYPE' is a 'Good Predictor'
p_val = 9.253623067245047e-10

JOB:
'JOB' is a 'Good Predictor'
p_val = 7.782512719963732e-132

STATUS:
'STATUS' is a 'Good Predictor'
p_val = 0.0

FLAG_MOBIL:
'FLAG_MOBIL' is a 'bad Predictor'
p_val = 1.0

FLAG_WORK_PHONE:
'FLAG_WORK_PHONE' is a 'Good Predictor'
p_val = 0.0014145250589105126

FLAG_PHONE:
'FLAG_PHONE' is a 'Good Predictor'
p_val = 2.119534116044579e-10

FLAG_EMAIL:
'FLAG_EMAIL' is a 'bad Predictor'
p_val = 0.18517623597764232

In [5]:
# Automatically drop bad predictors
df.drop(bad_predictors, axis=1, inplace=True)

# Print the final dataframe structure after dropping
print(f"Dropped bad predictors: {bad_predictors}")
df

Dropped bad predictors: ['FLAG_MOBIL', 'FLAG_EMAIL']

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_WORK_PHONE,FLAG_PHONE,JOB,BEGIN_MONTHS,STATUS,Approved
0,5065438,F,Y,N,2+ children,270000.0,Secondary / secondary special,Married,With parents,-13258,-2300,0,0,Managers,-6,C,0
1,5142753,F,N,N,No children,81000.0,Secondary / secondary special,Single / not married,House / apartment,-17876,-377,1,1,Private service staff,-4,0,0
2,5111146,M,Y,Y,No children,270000.0,Higher education,Married,House / apartment,-19579,-1028,0,1,Laborers,0,C,0
3,5010310,F,Y,Y,1 children,112500.0,Secondary / secondary special,Married,House / apartment,-15109,-1956,0,0,Core staff,-3,0,0
4,5010835,M,Y,Y,2+ children,139500.0,Secondary / secondary special,Married,House / apartment,-17281,-5578,1,0,Drivers,-29,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537662,5142999,M,Y,N,1 children,166500.0,Secondary / secondary special,Married,With parents,-12372,-5401,0,1,Core staff,-8,0,0
537663,5010773,F,N,Y,No children,135000.0,Higher education,Married,With parents,-14160,-4635,0,0,Sales staff,-8,0,0
537664,5105601,M,N,Y,No children,180000.0,Higher education,Married,House / apartment,-24204,-2462,0,0,Private service staff,-7,0,0
537665,5132833,M,Y,N,No children,220500.0,Secondary / secondary special,Married,House / apartment,-22647,-3847,0,1,Laborers,-1,0,0
537666,5135381,F,N,Y,No children,387000.0,Secondary / secondary special,Married,House / apartment,-20082,-4979,0,0,Sales staff,-45,C,0

In [6]:
df.columns = df.columns.str.strip()  # Removes leading and trailing spaces from all column names
# Identify categorical and numerical columns
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

# Print columns to verify correctness
print("Categorical columns:", categorical_cols)
print("Numerical columns:", numerical_cols)

# Remove 'Approved' if it's in either list
if 'Approved' in categorical_cols:
    categorical_cols.remove('Approved')
if 'Approved' in numerical_cols:
    numerical_cols.remove('Approved')

# Check the results
print("Categorical columns after removal:", categorical_cols)
print("Numerical columns after removal:", numerical_cols)

Categorical columns: ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'JOB', 'STATUS']
Numerical columns: ['ID', 'AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'BEGIN_MONTHS', 'Approved']
Categorical columns after removal: ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'JOB', 'STATUS']
Numerical columns after removal: ['ID', 'AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'BEGIN_MONTHS']

In [7]:
print("Data types of the columns:")
print(df.dtypes)

print("\nCategorical columns identified:")
print(categorical_cols)

Data types of the columns:
ID                       int64
CODE_GENDER             object
FLAG_OWN_CAR            object
FLAG_OWN_REALTY         object
CNT_CHILDREN            object
AMT_INCOME_TOTAL       float64
NAME_EDUCATION_TYPE     object
NAME_FAMILY_STATUS      object
NAME_HOUSING_TYPE       object
DAYS_BIRTH               int64
DAYS_EMPLOYED            int64
FLAG_WORK_PHONE          int64
FLAG_PHONE               int64
JOB                     object
BEGIN_MONTHS             int64
STATUS                  object
Approved                 int64
dtype: object

Categorical columns identified:
['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'JOB', 'STATUS']

In [8]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Initialize LabelEncoders for categorical variables
label_encoders = {}
for col in categorical_cols:
    if col != 'Approved':  # Exclude the target column from encoding
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])
        label_encoders[col] = le  # Store the encoder for future use (e.g., inverse_transform)

print("Unique values in categorical columns after encoding:")
for col in categorical_cols:
    if col != 'Approved':  # Ensure target is not being encoded
        print(f"{col}: {df[col].unique()}")
print("\nData types of the columns after encoding:")
print(df.dtypes)

Unique values in categorical columns after encoding:
CODE_GENDER: [0 1]
FLAG_OWN_CAR: [1 0]
FLAG_OWN_REALTY: [0 1]
CNT_CHILDREN: [1 2 0]
NAME_EDUCATION_TYPE: [4 1 2 3 0]
NAME_FAMILY_STATUS: [1 3 0 2 4]
NAME_HOUSING_TYPE: [5 1 4 2 0 3]
JOB: [10 12  8  3  4  6 13 15  0 14 11 17  9  1  5  2 16  7]
STATUS: [6 0 7 2 1 5 3 4]

Data types of the columns after encoding:
ID                       int64
CODE_GENDER              int64
FLAG_OWN_CAR             int64
FLAG_OWN_REALTY          int64
CNT_CHILDREN             int64
AMT_INCOME_TOTAL       float64
NAME_EDUCATION_TYPE      int64
NAME_FAMILY_STATUS       int64
NAME_HOUSING_TYPE        int64
DAYS_BIRTH               int64
DAYS_EMPLOYED            int64
FLAG_WORK_PHONE          int64
FLAG_PHONE               int64
JOB                      int64
BEGIN_MONTHS             int64
STATUS                   int64
Approved                 int64
dtype: object

In [9]:
df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_WORK_PHONE,FLAG_PHONE,JOB,BEGIN_MONTHS,STATUS,Approved
0,5065438,0,1,0,1,270000.0,4,1,5,-13258,-2300,0,0,10,-6,6,0
1,5142753,0,0,0,2,81000.0,4,3,1,-17876,-377,1,1,12,-4,0,0
2,5111146,1,1,1,2,270000.0,1,1,1,-19579,-1028,0,1,8,0,6,0
3,5010310,0,1,1,0,112500.0,4,1,1,-15109,-1956,0,0,3,-3,0,0
4,5010835,1,1,1,1,139500.0,4,1,1,-17281,-5578,1,0,4,-29,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537662,5142999,1,1,0,0,166500.0,4,1,5,-12372,-5401,0,1,3,-8,0,0
537663,5010773,0,0,1,2,135000.0,1,1,5,-14160,-4635,0,0,14,-8,0,0
537664,5105601,1,0,1,2,180000.0,1,1,1,-24204,-2462,0,0,12,-7,0,0
537665,5132833,1,1,0,2,220500.0,4,1,1,-22647,-3847,0,1,8,-1,0,0
537666,5135381,0,0,1,2,387000.0,4,1,1,-20082,-4979,0,0,14,-45,6,0

In [12]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import xgboost as xgb

# Assuming df is your DataFrame and 'Approved' is the target column

# Select numerical features (excluding 'Approved')
numerical_cols = df.select_dtypes(include=np.number).columns.tolist()

# Remove 'Approved' from the list of columns to scale
if 'Approved' in numerical_cols:
    numerical_cols.remove('Approved')

# Scale only the numerical feature columns
scaler = StandardScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

# Separate features (X) and target variable (y)
X = df.drop('Approved', axis=1)  # Drop 'Approved' from features
y = df['Approved']  # Target variable

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create DMatrix datasets for XGBoost (GPU acceleration)
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

# Print the shapes of the resulting splits
print("Training set:", X_train.shape, y_train.shape)
print("Test set:", X_test.shape, y_test.shape)

Training set: (430133, 16) (430133,)
Test set: (107534, 16) (107534,)

In [ ]:
print(df['Approved'].value_counts())  # Ensure the target has values like 0/1 or yes/no
df

In [ ]:
X_train

In [ ]:
# Reduce dataset size using stratified sampling (optional)
# X_sample, _, y_sample, _ = train_test_split(X, y, train_size=0.1, stratify=y, random_state=42)
X_train = X_train.astype(np.float32)
X_test = X_test.astype(np.float32)

In [ ]:
import warnings
from joblib import Parallel, delayed
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score, RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error, accuracy_score, roc_auc_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
import warnings

# Suppress specific warnings from LIME and XGBoost
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=UserWarning)

from sklearn.model_selection import KFold

# Define K-Fold cross-validation
kf = KFold(n_splits=3, shuffle=True, random_state=42)


# Define the models with their parameters
models = {
    "XGBoost": xgb.train,  # Use the XGBoost `train` function for DMatrix support
    "Random Forest": RandomForestClassifier(
        random_state=42,
        n_estimators=50,
        max_depth=6,
        n_jobs=-1,
        min_samples_split=10,
        max_features='sqrt'
    ),
    "Logistic Regression": LogisticRegression(
        random_state=42,
        max_iter=1000,
        C=0.5,  # Regularization
        n_jobs=-1
    ),
    "SVM": SVC(
        random_state=42,
        kernel='rbf',  # RBF kernel for non-linear decision boundary
        probability=True,  # To enable predict_proba
        C=1.0
    ),
    "Decision Tree": DecisionTreeClassifier(
        random_state=42,
        max_depth=6,
        min_samples_split=20,
        ccp_alpha=0.01  # Post-pruning to avoid overfitting
    )
}

# Function to evaluate a model
def evaluate_model(model_name, model, is_xgboost=False):
    if is_xgboost:
        # Train and evaluate XGBoost on GPU using DMatrix
        params = {
            'tree_method': 'hist',  # Use 'hist' for GPU
            'device': 'cuda',
            'eval_metric': 'logloss',
            'max_depth': 6,
            'subsample': 0.8,
            'colsample_bytree': 0.8,
            'lambda': 10
        }
        xgb_model = xgb.train(params, dtrain, num_boost_round=50)
        y_test_pred = xgb_model.predict(dtest)
        # In this case, XGBoost output is probability, threshold at 0.5
        y_test_pred = (y_test_pred > 0.5).astype(int)
    else:
        # Train and evaluate other models on CPU
        model.fit(X_train, y_train)
        y_test_pred = model.predict(X_test)
    
    y_test_prob = model.predict_proba(X_test)[:, 1] if hasattr(model, "predict_proba") else None

    test_mae = mean_absolute_error(y_test, y_test_pred)
    test_accuracy = accuracy_score(y_test, y_test_pred)
    test_f1 = f1_score(y_test, y_test_pred)
    test_auc = roc_auc_score(y_test, y_test_prob) if y_test_prob is not None else None

    return {
        model_name: {
            "Test Accuracy": test_accuracy,
            "Test AUC": test_auc,
            "Test MAE": test_mae,
            "Test F1": test_f1
        }
    }

# Evaluate models
results = []
for model_name, model in models.items():
    is_xgboost = model_name == "XGBoost"
    result = evaluate_model(model_name, model, is_xgboost=is_xgboost)
    results.append(result)

# Example for RandomForest hyperparameter tuning
param_dist = {'n_estimators': [50, 100, 200], 'max_depth': [6, 8, 10], 'min_samples_split': [10, 20]}
random_search = RandomizedSearchCV(RandomForestClassifier(), param_distributions=param_dist, n_iter=5, cv=kf, n_jobs=-1, random_state=42)
random_search.fit(X_train, y_train)

In [ ]:
import warnings

# Suppress specific warnings in LIME
warnings.filterwarnings("ignore", category=FutureWarning, module='lime')
warnings.filterwarnings("ignore", category=UserWarning, module='sklearn')

# Define the LimeTabularExplainer
lime_explainer = LimeTabularExplainer(
    training_data=np.array(X_train),
    feature_names=X_train.columns,
    class_names=['Not Approved', 'Approved'],
    mode='classification'
)

# Function to explain a single instance and print its index
def explain_single_instance(i):
    print(f"Explaining instance {i}...")
    exp = lime_explainer.explain_instance(X_test.iloc[i], best_model.predict_proba)
    exp.show_in_notebook(show_table=True)

# Use parallel processing for better performance
n_jobs = -1  # Use all available cores
Parallel(n_jobs=n_jobs)(delayed(explain_single_instance)(i) for i in range(10))  # Modify range as needed

In [ ]:
import re
import warnings
from joblib import Parallel, delayed

# Suppress specific warnings from LIME (optional)
warnings.filterwarnings("ignore", category=FutureWarning)

# Function to extract the feature name from the LIME explanation
def extract_feature_name(feature_str):
    split_symbols = ['<=', '>=', '<', '>', '!=', '=']
    for symbol in split_symbols:
        if symbol in feature_str:
            feature_name = feature_str.split(symbol)[0].strip()
            break
    else:
        feature_name = feature_str.strip()
    feature_name = re.sub(r'[0-9]+', '', feature_name)
    feature_name = re.sub(r'[^A-Za-z0-9 ]+', '', feature_name)
    feature_name = re.sub(r'\s+', ' ', feature_name)
    return feature_name.strip()

# Function to explain a single instance
def explain_instance(idx, instance):
    prediction = best_model.predict(instance.values.reshape(1, -1))[0]
    actual_label = y.loc[idx]
    exp = lime_explainer.explain_instance(
        data_row=instance,
        predict_fn=best_model.predict_proba,
        num_features=len(X.columns)
    )
    explanation_list = exp.as_list()
    decision = 'Approved' if prediction == 1 else 'Denied'
    
    features_contributing = []
    for feature, weight in explanation_list:
        if (prediction == 1 and weight > 0) or (prediction == 0 and weight < 0):
            feature_name = extract_feature_name(feature)
            if feature_name and feature_name not in features_contributing:
                features_contributing.append(feature_name)

    explanation_text = f"This application was {decision.lower()} due to " + ", ".join(features_contributing) + "."
    
    return {
        'Index': idx,
        'Prediction': decision,
        'Actual': 'Approved' if actual_label == 1 else 'Denied',
        'Explanation': explanation_text
    }

# Use parallel processing to speed up the process
explanations = Parallel(n_jobs=-1)(delayed(explain_instance)(idx, instance) for idx, instance in X.iterrows())

# Print a sample explanation to verify
print(f"Sample Explanation: {explanations[0]}")

In [ ]:
# Convert the explanations to a DataFrame
explanations_df = pd.DataFrame(explanations)

# Output the first explanation
first_explanation = explanations_df.iloc[0]

# Print the details
print("Index:", first_explanation['Index'])
print("Prediction:", first_explanation['Prediction'])
print("Actual:", first_explanation['Actual'])
print("Explanation:", first_explanation['Explanation'])

In [ ]:
explanations_df

In [ ]:
#reimport data due to earlier augmentation

df = pd.read_csv("./dataset/credit-card-approval/credit_card_approval.csv")
df

In [ ]:
# Add the 'Explanation' column (Reason) from explanations_df to the original df
df['Reason'] = explanations_df['Explanation']

# Save the updated dataframe with the new column as a CSV file
df.to_csv('target-augmented.csv', index=False)

In [ ]:
df